:root {
    --bg-color: #1e1e1e;
    --fg-color: #f5f5f5;
    --subtle-color: #888;
    --primary-color: #f30101;
    --input-bg: #2a2a2a;
    --input-border: #444;
    --button-bg: #091b93;
    --button-hover: #1696ba;
}

.button-container {
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--button-bg);
    color: var(--fg-color);
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: var(--button-hover);
}