:root {
    --bg-color: "lightgray";
    --fg-color: #f5f5f5;
    --subtle-color: #888;
    --primary-color: #f30101;
    --log-bg: #2a2a2a;
    --log-border: #444;
    --button-bg: #091b93;
    --button-hover: #1696ba;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
    line-height: 2;
}

.nav-bar {
    display: flex;
    padding: 10px 24px;
    background-color: var(--bg-color);
    justify-content: space-between;
    align-items: center;
}

#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 2.5%;
    border: 1px solid var(--fg-color);
}

#new-profile-form{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 2.5%;
    border: 1px solid var(--fg-color);
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-container{
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertical */
}

h1 {
    color: var(--primary-color);
}

h2 {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

#command-secton {
    display: flex;
}

#command-form {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#command-log {
    display: flex;
    flex-direction: column;
    background-color: var(--log-bg);
    border: 1px solid var(--log-border);
    padding: 10px;
    margin-top: 10px;
    height: 200px;
    width: 80%;
    overflow-y: auto;
    justify-content: center;
    margin: auto;
}

.button {
    background-color: var(--button-bg);
    color: var(--fg-color);
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

.button:hover {
    background-color: var(--button-hover);
}